.tree-node {
	.object-length:before {
		content: '{';
	}
	.object-length:after {
		content: '}';
	}
	.array-length:before {
		content: '[';
	}
	.array-length:after {
		content: ']';
	}
	[class$="-length"] {
		font-size: 12px;
		margin-left: 10px;
		vertical-align: 3px;
		&:before, &:after {
			padding: 2px;
		}
	}
	.field-wrapper {
		margin-top: 10px;
	}
}