$outer_spacing: 25px;

.dashboard {
	height: calc(100% - #{$outer_spacing});
	padding: $outer_spacing;
	font-size: 0; //removes the gap between the sections
	.section {
		width: calc(50% - #{$outer_spacing/2});
		display: inline-block;
		height: inherit;
		vertical-align: top;
		border: 1px solid #efefef;
		border-radius: 2px;
		box-sizing: border-box;
		&.text-view {
			margin-right: $outer_spacing;
		}
	}
}