<div class="dashboard">
	<section class="text-view">
		<json-source [sourceTitle]="'JSON Source'" [jsonSource]="jsonSrc" [invalidSrc]="!!errors.source" (onSourceChange)="setTreeSrc($event)"></json-source>
	</section>
	<section class="schema-view">
		<json-source [sourceTitle]="'JSON Schema'" [invalidSrc]="!!errors.schema" (onSourceChange)="setSchema($event)"></json-source>
	</section>
	<section class="tree-view">
		<tree [treeTitle]="'Editor'" [treeSource]="treeSrc" [schema]="validateTree && treeSchema" (onTreeChange)="setJsonSrc($event)"></tree>
	</section>	
	<footer class="clearfix">	
		<span class="invaid-json-error-msg" *ngIf="jsonError">JSON {{jsonError}} is invalid</span>
		<button class="validate-btn" (click)="validate()" [disabled]="!treeSrc || !treeSchema || jsonError">{{validateBtnText}}</button>
		<span class="validate-error-msg">Please enter a valid JSON source and schema</span>
	</footer>
</div>