$margin: 20px;

.dashboard {
	padding: 10px 20px;
	font-size: 0; //removes the gap between the sections
	&, .section {
		box-sizing: border-box;
		height: 100%;
	}
	.section {
		width: calc(50% - #{$margin/2});
		display: inline-block;
		vertical-align: top;
		border-radius: 2px;
		&.text-view {
			margin-right: $margin;
		}
	}
}