<span class="field-name">{{fieldName}} :</span>
<span class="field" [ngSwitch]="typeOf(fieldValue)" [formGroup]="nodeFormGroup">

	<span *ngSwitchCase="'string'">
		<input type="text" formControlName="{{fieldName}}" [ngStyle]="{'width': fieldWidth + 'px'}"/>
		<div class="field-error" *ngIf="nodeFormGroup.controls[fieldName].invalid">Invalid field</div>
	</span>
	
	<span *ngSwitchCase="'number'">
		<input type="number" formControlName="{{fieldName}}" [ngStyle]="{'width': fieldWidth + 'px'}" />
		<div class="field-error" *ngIf="nodeFormGroup.controls[fieldName].invalid">Invalid field</div>
	</span>
	
	<span *ngSwitchCase="'boolean'">
		<input formControlName="{{fieldName}}" type="checkbox"/>
		<div class="field-error" *ngIf="nodeFormGroup.controls[fieldName].invalid">Invalid field</div>
	</span>
	
	<span *ngSwitchCase="'object'">
		<tree-node  [parentFormGroup]="nodeFormGroup" [sourceObj]="fieldValue" [fieldName]="fieldName" (onNodeChange)="updateNode($event)"></tree-node>
	</span>

</span>


