<span class="field-name">{{fieldName}} :</span>
<span class="field" [ngSwitch]="typeOf(fieldValue)">

	<span *ngSwitchCase="'string'">
		<input type="text" 
				[(ngModel)]="fieldValue" 
				(ngModelChange)="onInputChange($event)"  
				[ngStyle]="{'width': fieldWidth + 'px'}"/>
	</span>
	
	<span *ngSwitchCase="'number'">
		<input type="number" 
				[ngModel]="fieldValue" 
				(ngModelChange)="onInputChange($event)"  
				[ngStyle]="{'width': fieldWidth + 'px'}" />
	</span>
	
	<span *ngSwitchCase="'boolean'">
		<input type="checkbox" 
				[ngModel]="fieldValue" 
				(ngModelChange)="updateNode($event)"/>
	</span>
	
	<span *ngSwitchCase="'object'">
		<tree-node [sourceObj]="fieldValue" (onNodeChange)="updateNode($event)"></tree-node>
	</span>

</span>
