html, body
{
    height: 100%;
	font-family: arial;
	overflow: hidden;
	margin: 0;
}
button {
	border: 1px solid rgba(0, 0 ,0, .3);
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 14px;
	outline: none;
}
button:active {
	position:relative;
	top:1px;
}
#input-width-calc-helper {
	display: inline-block;
    height: 0;
    opacity: 0;
}
#input-width-calc-helper {
	font-size: 14px;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

